/* Change the color of links on hover */
a#home:hover {
    color:lightgreen;
}
a#workout:hover {
    color:lightcoral;
}
a#plan:hover {
    color:lightseagreen;
}
a#breathe:hover {
    color:lightskyblue;
}

a#profile:hover {
    color:mediumpurple;
}

a.nav-icon {
    color:#009A44;
    text-decoration: none;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 400px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

#workout-name-input{
    font-size: 20px;
}

/******************* Accordion Demo - 3 *****************/
#accordion{
    padding-left: 53px;
    position: relative;
    z-index: 1;
}

#accordion .panel-collapse{
    padding-bottom: 5px;
}

#accordion:before{
    content: "";
    width: 5px;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 16px;
    z-index: -1;
}
#accordion .panel-title a{
    display: block;
    padding: 10px 0 15px 0;
    background: #00bf53;
    font-size: 18px;
    font-weight: 500;
    color: black;
    position: relative;
    transition: all 0.5s ease 0s;
    box-shadow: 0 1px 5px 1px rgba(43, 59, 93, .3);
    text-decoration: none;
    border: solid 1px white;
    border-radius: 15px;
}
#accordion .panel-title a:before{
    content: "\f068";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 45px;
    height: 45px;
    line-height: 35px;
    border-radius: 50%;
    background: #888888;
    text-align: center;
    font-size: 18px;
    color: black;
    border: 6px solid black;
    position: absolute;
    top: -1px;
    left: -58px;
}
#accordion .panel-title a.collapsed:before{
    content: "\f067";
    background: #dedede;
}
#accordion .panel-body{
    padding: 15px 15px;
    background: #eee;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5) inset, 0 1px 2px rgba(255, 255, 255, 0.9);
    font-size: 14px;
    color: black;
    line-height: 25px;
    border-radius: 5px;
}

#workout-list-dropdown {
    overflow: auto;
    height: 150px;
}

.card-box {
    padding: 10px;
    border-radius: 3px;
    background-color: #fff;
}

.social-links li {
    border-radius: 20%;
    color: #009A44;
    display: inline-block;
    height: 50px;
    line-height: 20px;
    border: 2px solid rgba(121, 121, 121, .5);
    text-align: center;
    width: 50px;
    padding: 7px
}

.thumb-sm {
    height: 100px;
    width: 100px;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.text-pink {
    color: #ff679b!important;
}
.btn-rounded {
    border-radius: 2em;
}
.text-muted {
    color: #98a6ad!important;
}

.profile-data{
    padding-left: 15px;
    padding-right: 15px;
}

.profile-data-numbers{
    font-weight: bold;
    padding-top: 5px;
    font-size: 18px;
}

.profile-data-input{
    font-weight: bold;
    padding-top: 5px;
}
