{% extends "base.html" %}
{% load static %}
{% block title %}Machine Information{% endblock %}

{% block content %}

<div class="container">
        <div class="row">
            <p>
               what the fuck is GOING ON!!! <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>




                If you can see this its not boken :-)
            </p>
        </div>

    </div>

{% endblock %}