{% extends "base.html" %}
{% load static %}
{% block title %}Plan{% endblock %}

{% block content %}
    <h3 class="text-center">Plan a workout</h3><hr>
    <div class="text-center">
        <div class="spinner-border text-success m-5" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="bs-example pr-2">
        <div class="accordion" id="accordionExample">
            <div class="card template">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button type="button" class="btn btn-link toggle" data-toggle="collapse"
                                data-target="#collapseOne">Workout #1
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                    <div class="card-body">
                        <p>Workout Info</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button type="button" class="btn btn-link toggle" data-toggle="collapse"
                                data-target="#collapseTwo">Workout #2
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                    <div class="card-body">
                        <p>Workout Info</p>
                    </div>
                </div>
            </div>
        </div><br>
        <button class="btn btn-primary btn-add-panel">Add new workout</button>
    </div>
{% endblock %}
{#<script type="text/javascript" src="js/main.js"></script>#}
<script type="text/javascript" src="{% static "js/plan.js" %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>