{% extends "base.html" %}
{% load static %}
{% block title %}Plan{% endblock %}

{% block content %}
    <div class="container">
        {#    <h3 class="text-center pt-1">Workout Name</h3>#}
        <input id="workout-name-input" class="form-control text-center" type="text" placeholder="Workout Name">
        <hr>

        <div class="text-center">
            <div class="spinner-border text-success m-5" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="panel-group" id="accordion" role="tabl  ist" aria-multiselectable="true">

            <div class="panel panel-default template">
                <div class="panel-heading" role="tab" id="plan-heading-1"> <!--here-->
                    <h4 class="panel-title">
                        <a class="plan-heading-link collapsed text-center" role="button" data-toggle="collapse"
                           data-parent="#accordion" href="#plan-collapse-1" aria-expanded="false"
                           aria-controls="plan-collapse-1"><!--here 2-->
                            Exercise #1
                        </a>
                    </h4>
                </div>
                <div id="plan-collapse-1" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="plan-heading-1"><!--here 2-->
                    <div class="panel-body">
                        <div id="#plan-collapse-1" class="panel-set-info">
                            {#                            <p class="text-center">workout info</p>#}
                            <div class="set-form form-row d-none">
                                <div class="form-group col-4">
                                    <input type="number" placeholder="Weight" class="form-control">
                                </div>
                                <div class="form-group col-4 text-center">
                                    <i class="fas fa-times fa-2x mt-1"></i>
                                </div>
                                <div class="form-group col-4">
                                    <input type="number" placeholder="Reps" class="form-control">
                                </div>
                            </div>
                        </div>
                        <button id="plan-collapse-1" class="btn btn-secondary btn-block btn-add-set">+ Add Set</button>
                    </div>
                </div>
            </div>

        </div>
    <button class="btn btn-outline-primary btn-block btn-add-panel mt-3">+ Add Custom Exercise</button>
    <div class="dropdown h-100">
        <button class="btn btn-outline-info btn-block dropdown-toggle mt-3" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            + Add Exercise
        </button>
        <div id="workout-list-dropdown" class="dropdown-menu btn-block" aria-labelledby="dropdownMenuButton" style="height: 350px">
            <h6 class="dropdown-header">Arm</h6>
            <a class="dropdown-item" href="#">Machine</a>
            <a class="dropdown-item" href="#">Machine</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Leg</h6>
            <a class="dropdown-item" href="#">Machine</a>
            <a class="dropdown-item" href="#">Machine</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Chest</h6>
            <a class="dropdown-item" href="#">Machine</a>
            <a class="dropdown-item" href="#">Machine</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Ab</h6>
            <a class="dropdown-item" href="#">Machine</a>
            <a class="dropdown-item" href="#">Machine</a>
        </div>
    </div>
    <button class="btn btn-success btn-block mt-3">Save Workout</button>
    </div>
{% endblock %}
{#<script type="text/javascript" src="js/main.js"></script>#}
<script type="text/javascript" src="{% static "js/plan.js" %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>