{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block content %}
    <div class="container">
    {% csrf_token %}
        <!-- end row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="card text-black card-box shadow">
                    <div>
                        <a id="edit-profile" class="btn btn-secondary btn-sm float-right"><span id="edit-icon" class="fas fa-edit"></span></a>
                        <a id="save-profile" class="btn btn-success btn-sm float-right d-none" data-user="{{ user }}"><span id="save-icon" class="fas fa-save pr-2"></span>Save</a>
                    </div>
                    <div class="pt-2 text-center">
                        <div class="thumb-sm mx-auto"><i class="fas fa-user-circle fa-6x"
                                                         alt="profile-image"></i></div>
                        <div class="">
                            <h4 class="pb-4">{{ user.username|default:'Guest' }}</h4>
{#                            <p class="text-secondary">extra information?#}
{#                            </p>#}
                        </div>
                        <ul class="list-inline">
                            <li class="profile-data list-inline-item"><i class="fas fa-weight fa-2x"></i><br>
                                <small>Weight</small>
                                <p class="profile-data-numbers">{{ user.profile.weight }} lb</p>
                                <p class="profile-data-input d-none"><input id="edit-profile-weight" type="text" placeholder="{{ user.profile.weight }}" style="width: 40px; height: 25px"> lb</p>
                            </li>
                            <li class="profile-data list-inline-item"><i class="fas fa-ruler-vertical fa-2x"></i><br>
                                <small>Height</small>
                                <p class="profile-data-numbers">{{ user.profile.height }} ft</p>
                                <p class="profile-data-input d-none"><input id="edit-profile-height" type="text" placeholder="{{ user.profile.height }}" style="width: 40px; height: 25px"> ft</p>
                            </li>
                            <li class="profile-data list-inline-item"><i class="fas fa-portrait fa-2x"></i><br>
                                <small>Age</small>
                                <p class="profile-data-numbers">{{ user.profile.age }} y.o.</p>
                                <p class="profile-data-input d-none"><input id="edit-profile-age" type="text" placeholder="{{ user.profile.age }}" style="width: 40px; height: 25px"> y.o.</p>
                            </li>

                        </ul>
                    </div>
                    {#                    <div class="card-body">#}
                    {#                        <div class="row">#}
                    {#                            <h5>Planned Workouts</h5>#}
                    {#                        </div>#}
                    {#                        <div class="row">#}
                    {#                            <p>Planned Workout Stuff</p>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>
<hr>
        <div class="row mt-2">
            <div class="col-lg-4">
                <div class="card shadow">
                    <div class="card-header p-1">
                        <h5>Calendar</h5>
                    </div>
                    <div class="row pl-4">
                        <p>label days with planned & completed workouts</p><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
{#        <div class="row mt-2">#}
{#            <div class="col-lg-4">#}
{#                <div class="card shadow">#}
{#                    <div class="card-header p-1">#}
{#                        <h5>Statistics</h5>#}
{#                    </div>#}
{#                    <div class="row pl-4">#}
{#                        <p>random statistics?</p><br><br><br><br><br><br>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="row mt-2">
            <div class="col-lg-4">
                <div class="card shadow">
                    <div class="card-header p-1">
                        <h5>Settings</h5>
                    </div>
                    <div class="row pl-4">
                        <p>form to change personal information?</p><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>

        {#        <div class="row mt-2">#}
        {#            <div class="col-lg-4">#}
        {#                <div class="row pl-3">#}
        {#                    <h5>Settings</h5>#}
        {#                </div>#}
        {#                <div class="card shadow">#}
        {#                    <div class="row pl-4">#}
        {#                        <p>Settings Stuff</p>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>
    {% url 'main_app:edit_profile' as edit_profile_url %}
    {{ edit_profile_url|json_script:"edit_profile_url" }}
{% endblock %}