{% extends "base.html" %}
{% load static %}
<!-- use line 10 from base if you need to render img not in the library
      style="margin-bottom: 50px;-->
{% block title %}Workout{% endblock %}

{% block content %}
     <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card" style="margin-bottom: 20px;">
                    <img class="card-img-top" src="{% static 'img/All_Machines.jpg' %}" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Temp card</h5>
                        <p class="card-text">This is here to make it symmetrical. </p>
                        <a href="#" class="btn btn-primary "> View </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card" style="margin-bottom: 20px;">
                    <img class="card-img-top" src="{% static 'img/Leg Adduction_S.jpg' %}" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Temp card</h5>
                        <p class="card-text">This is here to make it symmetrical. </p>
                        <a href="#" class="btn btn-primary "> View </a>
                    </div>
                </div>
            </div>




            <div class="col-sm-6">
                <div class="card" style="margin-bottom: 20px;">
                    <img class="card-img-top" src="{% static 'img/Upper_Card.jpg' %}" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Upper body workouts</h5>
                        <p class="card-text">Browse upper body workouts.</p>
                        <a href="#" class="btn btn-primary"> View </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card" style="margin-bottom: 20px;">
                    <img class="card-img-top" src="{% static 'img/Led_Card.jpg' %}" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Lower body workouts</h5>
                        <p class="card-text">Browse lower body workouts.</p>
                        <a href="#" class="btn btn-primary"> View </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card" style="margin-bottom: 20px;">
                    <img class="card-img-top" src="{% static 'img/Arm_Focus.jpg' %}" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title"> Arm focused workouts</h5>
                        <p class="card-text">Browse arm specific lifts and machines.</p>
                        <a href="#" class="btn btn-primary"> View </a>
                    </div>
                </div>

            </div><div class="col-sm-6">
                <div class="card" style="margin-bottom: 20px;">
                    <img class= "card-img-top { height: 15rem; object-fit:cover; } " src="{% static 'img/Leg_Focus.jpg' %}" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title"> Leg focused workouts</h5>
                        <p class="card-text">Browse leg specific lifts and machines. </p>
                        <a href="#" class="btn btn-primary"> View </a>
                    </div>
                </div>

            </div><div class="col-sm-6">
                <div class="card" style="margin-bottom: 20px;">
                    <img class="card-img-top" src="{% static 'img/Cardio_Card.jpg' %}" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title"> Cardio focused workouts</h5>
                        <p class="card-text">Aerobic and cardio workouts. </p>
                        <a href="#" class="btn btn-primary"> View </a>
                    </div>
                </div>

            </div><div class="col-sm-6">
                <div class="card" style="margin-bottom: 20px;">
                    <img class="card-img-top" src="{% static 'img/Rock_Wall.jpg' %}" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title"> Other amenities and workouts</h5>
                        <p class="card-text">Rock climbing wall, bike class, ect</p>
                        <a href="#" class="btn btn-primary"> View </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
     TO DO LIST DOWN HERE
     1) card backgrounds ✓
     2) margins below and columns ✓
     3) attach the buttons to the card ✓
     4) Implement SQL (probs lite)
     5) look up the bootstrap SQL guide
    -->
{% endblock %}