{% extends "base.html" %}
{% load static %}
{% block title %}Workout{% endblock %}

{% block content %}

     <div class="container">
     {% csrf_token %}
        <div class="row">
            <div class="col-sm-6">
                <div class="card" style="margin-bottom: 20px;">
                    <img class="card-img-top" src="{% static 'img/All_Machines.jpg' %}" alt="Card image ">
                    <div class="card-img-overlay">
                        <h5 class="card-title bg-success text-dark ">View All Workouts</h5>
                        <p class="card-text text-light">View all the available Workouts. </p>

                        <a href="{% url 'main_app:machines_view' %}" class="btn btn-primary view-workout"> View </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card" style="margin-bottom: 20px;">
                    <img class="card-img-top" src="{% static 'img/Abs Workout.jpg' %}" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title bg-success text-dark ">Abs Focused workouts</h5>
                        <p class="card-text text-light">View workouts for the abdominal muscles</p>
                       <a href="{% url 'main_app:machines_view_Abs' %}" class="btn btn-primary view-workout"> View </a>
                    </div>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="card" style="margin-bottom: 20px;">
                    <img class="card-img-top" src="{% static 'img/Upper_Card.jpg' %}" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title bg-success text-dark ">Upper body workouts</h5>
                        <p class="card-text text-light">Browse upper body workouts.</p>
                       <a href="{% url 'main_app:machines_view_Arm' %}" class="btn btn-primary view-workout"> View </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card" style="margin-bottom: 20px;">
                    <img class="card-img-top" src="{% static 'img/Led_Card.jpg' %}" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title bg-success text-dark ">Lower body workouts</h5>
                        <p class="card-text text-light">Browse lower body workouts.</p>
                        <a href="{% url 'main_app:machines_view_Leg' %}" class="btn btn-primary view-workout"> View </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card" style="margin-bottom: 20px;">
                    <img class="card-img-top" src="{% static 'img/Arm_Focus.jpg' %}" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title bg-success text-dark "> Arm focused workouts</h5>
                        <p class="card-text text-light">Browse arm specific lifts and machines.</p>
                        <a href="{% url 'main_app:machines_view_Arm' %}" class="btn btn-primary view-workout"> View </a>
                    </div>
                </div>

            </div><div class="col-sm-6">
                <div class="card" style="margin-bottom: 20px;">
                    <img class= "card-img-top { height: 15rem; object-fit:cover; } " src="{% static 'img/Leg_Focus.jpg' %}" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title bg-success text-dark "> Leg focused workouts</h5>
                        <p class="card-text text-light">Browse leg specific lifts and machines. </p>
                        <a href="{% url 'main_app:machines_view_Leg' %}" class="btn btn-primary view-workout"> View </a>
                    </div>
                </div>

            </div><div class="col-sm-6">
                <div class="card" style="margin-bottom: 20px;">
                    <img class="card-img-top" src="{% static 'img/Cardio_Card.jpg' %}" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title bg-success text-dark "> Cardio focused workouts</h5>
                        <p class="card-text text-light">Aerobic and cardio workouts. </p>
                        <a href="{% url 'main_app:machines_view_Cardio' %}" class="btn btn-primary view-workout"> View </a>
                    </div>
                </div>

            </div><div class="col-sm-6">
                <div class="card" style="margin-bottom: 20px;">
                    <img class="card-img-top" src="{% static 'img/Rock_Wall.jpg' %}" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title bg-success text-dark "> Other amenities and workouts</h5>
                        <p class="card-text text-light">Rock climbing wall, bike class, ect</p>
                       <a href="{% url 'main_app:machines_view_Arm' %}" class="btn btn-primary view-workout"> View </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<script type="text/javascript" src="{% static "js/workout.js" %}"></script>