{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="d-flex align-items-center" style="min-height: 70vh">
        <div class="container">
            {% if form.errors %}
                <div class="alert alert-danger">
                    <strong> Your username and password didn't match.
                        Please try again.</strong>
                </div>
            {% endif %}
            <div class="card border-0">
                <article class="card-body">
                    <h4 class="card-title text-center mb-3 mt-1">Login</h4>
                    <hr>
                    <form id="login-form" method="post"
                          action="{% url 'main_app:login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input id="id_username" name="username"
                                       type="text" class="form-control">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input id="id_password" name="password"
                                       type="password" class="form-control">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="row">
                            <div class="col-6">
                                <input type="submit" value="Login"
                                       class="btn btn-primary btn-block"/>
                                <input type="hidden" name="next" value="{{ next }}"/>
                            </div>
                            <div class="col-6">
                                <a href="{% url 'main_app:register' %}">
                                    <input type="button" value="Register"
                                           class="btn btn-success btn-block"/></a>
                            </div>
                        </div>
                        <!-- form-group// -->
                        {#                    <p class="text-center"><a href="#" class="btn">Forgot password?</a></p>#}
                    </form>
                </article>
            </div> <!-- card.// -->
        </div>
    </div>
{% endblock %}
{% block bottomnav %}
    <nav class="navbar fixed-bottom navbar-dark bg-dark" style="height: 56px">
    </nav>
{% endblock %}