{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}

{% block content %}
        <div class="d-flex align-items-center" style="min-height: 70vh">
        <div class="container">
    <div class="alert alert-success">
        <strong>Password has been changed successfully.</strong>
    </div><a href="{% url 'main_app:index' %}"><input type="button" value="Back to Home"
                                           class="btn btn-success btn-block"/></a></div></div>

{% endblock %}