{% extends "base.html" %}
{% load static %}
{% block title %}Register{% endblock %}

{% block content %}
    <div class="card border-0">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4><br>
{#            <p class="text-center">Get started with your free account</p>#}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <form method="post" action="{% url 'main_app:register' %}">
                {% csrf_token %}
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username"
                           autofocus required id="id_username" class="form-control" placeholder="Username"><span class="form-text small text-muted">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="email" class="form-control" placeholder="Email address" type="email" maxlength="254"
                           id="id_email">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input type="password" name="password1" autocomplete="new-password" required id="id_password1"
                           class="form-control" placeholder="Create password">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Repeat password" type="password" name="password2"
                           autocomplete="new-password" required id="id_password2"><br>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <input type="submit" value="Register"
                           class="btn btn-success btn-block"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div> <!-- form-group// -->
                <p class="text-center">Have an account? <a href="{% url 'main_app:login' %}">Log In</a></p>
            </form>
        </article>
    </div> <!-- card.// -->

{% endblock %}
{% block bottomnav %}
    <nav class="navbar fixed-bottom navbar-dark bg-dark" style="height: 56px">
    </nav>
{% endblock %}